In [1]:
print("Hello Jupyter")

Hello Jupyter

In [7]:
import pandas as pd
 
table = {
     'coffee': [3, 4, 5, 6], 
     'biscuit': [8, 7, 0, 2]
 }
 
tables = pd.DataFrame(table, index=['Table A', 'Table B', 'Table C', 'Tables D'])
  
tables
tables.loc['Table B']
tables.to_csv('tables.csv')

In [8]:
import pandas as pd

csv_data = pd.read_csv('tables.csv', index_col=0)
csv_data

          coffee  biscuit
Table A        3        8
Table B        4        7
Table C        5        0
Tables D       6        2

In [9]:
import pandas as pd

csv_data = pd.read_csv('tables.csv', index_col=0)
csv_data.head()

          coffee  biscuit
Table A        3        8
Table B        4        7
Table C        5        0
Tables D       6        2

In [10]:
import pandas as pd

csv_data = pd.read_csv('tables.csv', index_col=0)
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Table A to Tables D
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   coffee   4 non-null      int64
 1   biscuit  4 non-null      int64
dtypes: int64(2)
memory usage: 96.0+ bytes

In [13]:
import pandas as pd

csv_data = pd.read_csv('tables.csv', index_col=0)
csv_data.shape

(4, 2)

In [12]:
import pandas as pd

csv_data = pd.read_csv('tables.csv', index_col=0)
csv_data.drop_duplicates()

          coffee  biscuit
Table A        3        8
Table B        4        7
Table C        5        0
Tables D       6        2